{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ],
      "presets": [
        "stage-1"
      ]
    },
    "development": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-1"
      ]
    },
    "production": {
      "plugins": ["transform-runtime"],
      "presets": [
        ["es2015", {"modules": false}],
        "stage-1"
      ]
    }
  }
}
